#tabla-empleados-container{
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  box-shadow: 0px 0px 7px #818181;
}

#registrar-empleado-form{
  margin-bottom: 170px;
}

#tabla-empleados{
  width: 100%;
  height: 100%;
  background-color: white;
}

#tabla-empleados th {
  border-bottom: 1px solid #000;
  background-color: #1282a2;
  padding: 10px;
  padding-inline: 20px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

#tabla-empleados td {
  padding-block: 7px;
  padding-inline: 20px;
  border: 1px solid #000;
}

#tabla-empleados tr:hover {
  background-color: lightgray;
  cursor: pointer;
}

.encabezado {
  background-color: #0a1128;
  padding-block: 15px;
  padding-inline: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: white;
}

.menu-navegacion {
  display: flex;
  gap: 15px;
}

.boton-nav {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.2s;
}

.boton-nav:hover {
  opacity: 1;
  color: #72aab9;
}

.contenedor {
  min-height: calc(100vh - 158px); /* Altura del viewport menos el header y footer */
  background-color: white;
  margin-inline: 50px;
  box-shadow: 0px 0px 5px 0px gray;
  box-sizing: border-box;
  margin: 0;
  display: flex;
}

.registro-horas-contenedor{
    padding-inline: 20px;
    width: 50%;
}

.registro-horas-formulario{
    box-shadow: 0px 0px 5px 0px gray;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #4582ec;
    text-align: center;
    flex-direction: column;
    margin-bottom: 200px;
}

#formulario-registro-horas{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding-top: 20px;
    padding-inline: 100px;
    align-items: center;
}

#confirmar-registro{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

#comenzar-registro{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.boton-confirmar{
    border-radius: 7px;
    background: #003049;
    color: white;
}

.boton-cancelar{
    border-radius: 7px;
    background: #C1121F;
    color: white;
}

.boton-registrar{
    border-radius: 7px;
    background: #003049;
    color: white;
    width: 50%;
}

.boton-iniciar-sesion{
  border-radius: 7px;
  background: #003049;
  color: white;
}

.grupo-form-registro{
  border: 2px solid #1282a2;
  border-radius: 5px;
  min-height: 455px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
  box-shadow: 0px 0px 5px 0px gray;
}

body{
  margin: 0;
  padding: 0;
}

footer{
  background-color: #0a1128;
  color: white;
}

.formulario-login{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 2px solid #4582ec;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
}

.barra-lateral{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #034078;
  padding-top: 20px;
  z-index: 2;
  color: white;
  margin-top: -57px;
}

.barra-lateral-boton a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.barra-lateral-boton{
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.barra-lateral-logo{
  padding-bottom: 20px;
}

.barra-lateral-boton:hover{
  background-color: #001f54;
}

.contenido-rrhh{
  background-color: rgb(233, 233, 233);
  
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

#calendar-container {
  padding: 20px;
  padding-top: 75px;
  background-color: transparent;
  box-sizing: border-box;
  overflow-y: auto; /* Agrega scroll si es necesario */
  margin-bottom: 200px;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 14.28%; /* 100% / 7 días */
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
}

.holiday {
  background-color: #ffdddd;
  border-radius: 50%;
}

.event {
  background-color: #ddffdd;
  border-radius: 50%;
}

.today {
  background-color: #c2d8ff;
  border-radius: 75%;
}

.day-header {
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

#reloj-container {
  padding: 0px;
  padding-top: 0px;
}

#comenzar-registro {
  padding-bottom: 30px;
}

#imagen-empresa {
  width: auto;
  max-width: 400px;
  max-height: 400px;
  height: auto;
  display: flex;
  padding-bottom: 15px;
}

#pagina-login {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("/rrhh/img/fondoLogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-derecha {
  height: 100%;
  width: 50%;
  padding: 20px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: transparent;
}

.login-izquierda {
  height: 100%;
  width: 35%;
  padding: 20px;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: transparent;
}