



.encabezado {
  background-color: #0a1128;
  padding-block: 15px;
  padding-inline: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: white;
}

.menu-navegacion {
  display: flex;
  gap: 15px;
}

.boton-nav {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.2s;
}

.boton-nav:hover {
  opacity: 1;
  color: #72aab9;
}

.cursor-pointer{
  cursor: pointer;
}

.table-responsive{
  height: calc(100vh - 208px);
  overflow-y: auto;
}

#tabla-empleados thead tr th{
  position: sticky;
  top: 0;
}

.contenedor {
  min-height: calc(100vh - 158px); /* Altura del viewport menos el header y footer */
  background-color: white;
  margin-inline: 50px;
  box-shadow: 0px 0px 5px 0px gray;
  box-sizing: border-box;
  margin: 0;
  display: flex;
}

.registro-horas-contenedor{
    padding-inline: 20px;
    width: 50%;
}


.boton-iniciar-sesion{
  border-radius: 7px;
  background: #003049;
  color: white;
}


footer{
  background-color: #0a1128;
  color: white;
}

.row.full-page{
  min-height: calc(100vh - 132px) ;
}

.formulario-login{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 2px solid #4582ec;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
}

.barra-lateral{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #034078;
  padding-top: 20px;
  z-index: 2;
  color: white;
  margin-top: -57px;
}

.barra-lateral-boton a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.barra-lateral-boton{
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.barra-lateral-logo{
  padding-bottom: 20px;
}

.barra-lateral-boton:hover{
  background-color: #001f54;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 14.28%; /* 100% / 7 días */
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
}

.holiday {
  background-color: #ffb9b9;
}

.event {
  background-color: #ddffdd;
}

.today {
  background-color: #97bcfc;

}

.day-header {
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

#imagen-empresa {
  width: auto;
  max-width: 400px;
  max-height: 400px;
  height: auto;
  display: flex;
  padding-bottom: 15px;
}

#pagina-login {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("/rrhh/img/fondoLogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-derecha {
  height: 100%;
  width: 50%;
  padding: 20px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: transparent;
}

.login-izquierda {
  height: 100%;
  width: 35%;
  padding: 20px;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: transparent;
}